html {
	background-color: blue;
}

h1 {
	text-align: center;
	color: skyblue;
}

.all-page {
	height = 100%;
	width = 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.radio-donut {
	background-color: green;
	height: 300px;
	width: 300px;
	border-radius: 50%;
	border: 10px solid;
	border-color: red;
/*	 overflow: hidden; */
}

.button-c {
	background-color: orange;
    left: 109px;
    position: relative;
	height: 150px;
	width: 82px;
	clip-path: polygon(0 0, 50% 100%, 100% 0);
}

.button-f {
    background-color: grey;
    top: -150px;
    position: relative;
    height: 150px;
    width: 150px;
    clip-path: polygon(0 0, 100% 100%, 73% 0);
}

.button-bb {
	background-color: skyblue;
    top: -450px;
    position: relative;
	height: 150px;
	width: 150px;
	clip-path: polygon(0 0, 100% 100%, 0 73%);
}

.button-g {
    background-color: grey;
    top: -300px;
    left: 150px;
    position: relative;
    height: 150px;
    width: 150px;
    clip-path: polygon(100% 0, 0 100%, 27% 0);
}

.button-eb {
	background-color: orange;
    top: -491px;
    position: relative;
	height: 82px;
	width: 150px;
	clip-path: polygon(0 0, 100% 50%, 0 100%);
}

.button-ab {
	background-color: skyblue;
    top: -533px;
    position: relative;
	height: 150px;
	width: 150px;
	clip-path: polygon(0 27%, 100% 0, 0 100%);
}

.button-cd {
    background-color: grey;
    top: -683px;
    position: relative;
    height: 150px;
    width: 150px;
    clip-path: polygon(100% 0, 0 100%, 73% 100%);
}

.button-fd {
	background-color: orange;
    left: 109px;
    top: -833px;
    position: relative;
	height: 150px;
	width: 82px;
	clip-path: polygon(0 100%, 50% 0, 100% 100%);
}

.button-b {
    background-color: grey;
    top: -983px;
	left: 150px;
    position: relative;
    height: 150px;
    width: 150px;
    clip-path: polygon(100% 100%, 0 0, 27% 100%);
}

.button-e {
	background-color: skyblue;
    top: -1133px;
	left: 150px;
    position: relative;
	height: 150px;
	width: 150px;
	clip-path: polygon(100% 27%, 0 0, 100% 100%);
}

.button-a {
	background-color: orange;
    top: -1323px;
	left: 150px;
    position: relative;
	height: 82px;
	width: 150px;
	clip-path: polygon(100% 100%, 0 50%, 100% 0);
}

.button-d {
	background-color: skyblue;
    top: -1514px;
	left: 150px;
    position: relative;
	height: 150px;
	width: 150px;
	clip-path: polygon(0 100%, 100% 0, 100% 73%);
}
