html {
	background-color: blue;
}

h1 {
	text-align: center;
	color: skyblue;
}

.all-page {
	height = 100%;
	width = 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.radio-donut {
	background-color: green;
	height: 300px;
	width: 300px;
	border: 10px solid;
	border-color: red;
}
